/* :root {
    --btn-color: #9690ce;
  } */
.btn {
    background-color: white;
    /* color: var(--btn-color); */
    text-align: center;
    border: 2px solid var(--btn-color);
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px;
    border-radius:8px;
}

.btn a {
    /* color: var(--btn-color);  */
    transition-duration: 0.4s;
    text-decoration: none;
}


.btn:hover {
    /* background-color: var(--btn-color); */
    color: white;
}

.btn:hover a{
    color: white;
}

