
.btn {
    background-color: white;
    text-align: center;
    border: 2px solid var(--btn-color);
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px;
    border-radius:8px;
}

.btn a {
    transition-duration: 0.4s;
    text-decoration: none;
}

.btn:hover {
    color: white;
}

.btn:hover a{
    color: white;
}

