.create-post-form h1, .create-post-form h2, .create-post-form h3 {
    text-align: center;
}

.create-post-form label {
    margin-top: 30px;
    font-weight: bold;
    display: block;
}

.create-post-form .input {
    box-sizing: border-box;
    display: block;
    padding: 7px 10px;
    width: 100%;
    resize: vertical;
    transition-duration: 0.4s;
}

.create-post-form .post-btn {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
}