/* This CSS file is used for both createpost.js and editpost.js. */
.post-form h1, .post-form h2, .post-form h3 {
    text-align: center;
}

.post-form label > p {
    margin-top: 30px;
    font-weight: bold;
    display: block;
}

.datetime-label {
    width: 500px;
}

.post-form .input {
    box-sizing: border-box;
    display: block;
    padding: 7px 10px;
    width: 100%;
    resize: vertical;
    transition-duration: 0.4s;
}

.post-form textarea {
    height: 300px;
}

.post-form .post-btn {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
}

/* ensure styling looks good on mobile */

@media only screen and (max-width:600px) {
    .post-form{
        width: 100%;
        margin: 0 auto;
    }

    .datetime-label {
        width: 100%;
    }

    .post-form .input {
        padding: 7px;
    }

    .post-form textarea{
        height:150px;
    }
    
    .post-form {
        margin-top: 20px;
        margin-left: 0;
    }

    .post-btn {
        margin-top: 20px;
        margin-left: 0;
    }
}