/* Repeat CSS from createpost.css */

.edit-post label {
  padding: 10px 0px 0px 0px;
  font-weight: bold;
  text-align: left;
  display: block;
}

.edit-post input, .edit-post textarea {
  width: 100%;
  padding: 7px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  resize: vertical;
}

textarea {
  height: 300px;
}
.input {
  margin: 10px 0; 
}

.right-btn { float: right; }
.right-btn { float: middle; }