.homeLFD > h2 {
  padding-bottom: 1em;
}

.text{
  text-align: left;
}

.diner-info {
  padding-left: 75px;
}

.diner-request{
  border: 2px solid black;
  margin-top: 2px; 
  transition-duration: 0.4s;
  padding-top: 20px;
  padding-bottom: 20px;
}

.diner-request :is(h1, h2, h3, h4, h5, h6){
  transition-duration: 0.4s;
}

.diner-request:hover, .selected{
  border: 2px solid #9690ce;
}

.diner-request:hover :is(h1, h2, h3, h4, h5, h6){
  color: #9690ce;
}