h2, h3, h4, h5 {
    text-align: center
}

.description {
    padding: 20px;
}

Button {
    margin: 20px 0px;
}
.left-btn { float: left; }
.right-btn { float: right; }

.createPost {
    padding: 26px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    transition-duration: 0.4s;
    /* cursor: pointer; */
}

.createPost a {
    transition-duration: 0.4s;
}

/* .createPost:hover {
    border: 2px solid #f1356d;
    color: #f1356d;
} */

.createPost:hover a {
    color: #f1356d;
}
