.login label {
    padding: 10px 0px 0px 0px;
    font-weight: bold;
    text-align: left;
    display: block;
  }

.login input {
    width: 100%;
    padding: 7px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    resize: vertical;
}

.input {
    margin: 10px 0; 
}

.link {
    margin-top: 15px;
    color: #9690ce;
    float: left;
}

.login-btn { float: right; }