.login h1 {
    padding-bottom: 15px;
}
.login .name {
    display: flex;
    align-items: center;
}

.login .name * {
    width: 100%;
}

.login input {
    box-sizing: border-box;
    padding: 7px 10px;
    width: 100%;
    transition-duration: 0.4s;
}

.link {
    text-decoration: underline;
    color: var(--color-1);
    float: left;
}
.link:hover{
    filter: brightness(70%);
}

.login p {
    font-weight: bold;
}

.login-btn { float: right; }