.profile label {
    padding: 10px 0px 0px 0px;
    font-weight: bold;
    text-align: left;
    display: block;
}

.profile input {
    width: 100%;
    padding: 7px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    resize: vertical;
}

.input {
    margin: 10px 0; 
}

.save-btn { float: right; }

.editProfile{
    padding-bottom: 50px;
}

.noneditable{
    padding-top: 40px;
}