.restaurant-info > *, .diner-posts > * {
    margin-bottom: 20px;
}

.restaurant-information > *, .diner-posts > h2 {
    text-align: center;
}

.post {
    height: 100px;
    border: 2px solid black;
    margin-top: -2px; 
    transition-duration: 0.4s;
}
/* When post is hovered over, post (and everything in it) changes color */
.post:hover { 
    border: 2px solid #9690ce;
}
.post * { 
    transition-duration: 0.4s;
}
.post:hover * {
    color: #9690ce;
}
.post:hover > .avatar {
    filter: brightness(110%);
 }

.create-post {
    font-weight: bold;
    text-align: center;
}

.diner-post {
    display: flex;
}

.diner-post > * {
    padding: 10px 0px 10px 15px;
}

