@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

:root {
  --color-1: #9690ce;
}

/* All elements on the page */
* {
  margin: 0;
  font-family: 'Cantarell', sans-serif;
  color: #333;
}

/* Unique content of the page, excluding NavBar */
.content {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

/* When button is hovered over, it changes color */
button {
  background-color: white;
  border: 1px solid #ddd;
  border-radius:8px;
  color: var(--color-1);
  cursor: pointer;
  padding: 9px 10px;
  text-align: center;
  transition-duration: 0.4s;
}
button:hover {
  background-color: var(--color-1);
  color: white;
}

/* When link is hovered over, it changes color */
a {
  text-decoration: none; /* Remove underline */
  transition-duration: 0.4s;
}
a:hover {
  color: var(--color-1); 
}

/* Styling for all input and textarea elements */
input, textarea {
  border: 1px solid #ddd;
}
input:hover, input:focus, textarea:hover, textarea:focus {
  outline: none !important;
  border: 1px solid var(--color-1); 
}
input:focus, textarea:focus {
  box-shadow: 0 0 10px var(--color-1); 
}

/* NavBar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: var(--color-1);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
